<!-- clientSide/area.html -->
<div class="bg-light p-1">
    <div class="row">
        <div class="col-md-3 m-1">
            <h4> Actions</h4>
        </div>
        <div class="col-md-2 m-1">
            <button type="button" id="openPopup" class="btn btn-primary btn-block">create Card</button>
        </div>
        <div class="col-md-2  m-1">
            <button type="button" class="btn btn-secondary btn-block">Button 2</button>
        </div>
        <div class="col-md-2  m-1">
            <button type="button" class="btn btn-success btn-block">Button 3</button>
        </div>
        <div class="col-md-2  m-1">
            <button type="button" class="btn btn-warning btn-block">Button 4</button>
        </div>
    </div>
</div>
