<!-- clientSide/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-lg-none" href="#">Client Dashboard</a> <!-- Hide on mobile -->
    <a class="navbar-brand d-none d-lg-block" href="#">Client Dashboard</a> <!-- Show on larger screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Main Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Main Link 2</a>
            </li>
        </ul>
    </div>

    <!-- Circular small image as profile link -->
    <a class="navbar-brand ml-auto" href="#">
        <img src="static/images/20240323074642.jpg" alt="Profile" style="width: 40px; height: 40px; border-radius: 50%;">
    </a>
</nav>
