<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-8">Name</th>
                    <th>Copy URL</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td><button class="btn btn-primary" >Copy</button></td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>